/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* ///////////////////////////=================== Theme.css which includes defaults =================//////////////////////////////////////////////// */
@import "Theme.css";
/* ///////////////////////////=======================================================================//////////////////////////////////////////////// */


.background-image
{
    width: 100%; 
    height: 100%;
    /*background-image: url('./../Resources/Images/DefaultBackground.jpg');*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 

    /*background-color: var(--color-background);*/
}


.donors-by-region-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 0 50px 0;
    padding: 50px 15px;
    background-color: #30475e;
}
.donors-by-region-container-title
{
    width: 100%;
    font-size: 33px;
    color: whitesmoke;
    padding: 10px; 
    margin-bottom: 33px; 
    text-align: center;
}
.donors-by-region-item
{
    width: 212px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 30px;
    padding: 20px;
    background-color: whitesmoke;
    color: whitesmoke;
    border-radius: 10px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.donors-by-region-item:hover
{
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;}

.donors-by-region-item-title
{
    font-size: 24px;
    color: #222831;
    text-transform: uppercase;
    padding: 10px;

}

.donors-by-region-item-total
{
    font-size: 20px;
    font-family:  "SF-Pro-Display-Light" !important;
    padding: 10px;
    margin: 10px;
    font-weight: 600;
    color: white;
    background: #39a6a3;
    border-radius: 10px;

}

.divider
{
    width: 70%;
    height: 1px;
    margin: 5px;
    background-color: #dddddd;
}

.become-donor-container 
{
    width: 100%;
    background-color: #222831;
    color: whitesmoke;
    text-align: center;
    padding: 100px 33px;
    margin: 0 0 -150px 0;
    font-size: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.become-donor-container a
{
    text-decoration: none;
    background-color: #222831;
    color: #39a6a3;
    margin: 20px;
    border: 1px white solid;
    padding: 15px;
    font-size: 20px;
    width: fit-content;
}
.become-donor-container a:hover
{
    background-color: #39a6a3;
    color:  white;
}


.faqs-container
{
    width: 100%;
    background-color: #30475e;
    color: whitesmoke;
    text-align: center;
    padding: 100px 33px;
    margin: 150px 0 0 0;
    font-size: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.faqs-container a
{
    text-decoration: none;
    background-color: #222831;
    color: #39a6a3;
    margin: 20px;
    border: 1px white solid;
    padding: 15px;
    font-size: 20px;
    width: fit-content;
}
.faqs-container a:hover
{
    background-color: #39a6a3;
    color:  white;

}















.containers2
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin: 180px 0;
    background-color: whitesmoke;
    max-width: 100%;
    /*box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;*/

}

.left
{
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    font-size: 23px;
    color: black;
    margin: 20px;
    border-radius: 5px;
}


.right
{
    width: 40%;
    min-width: 300px;
    font-size: 22px;
    color: black;
    margin: 23px;
    border-radius: 5px;

}

.je-donne a
{
    font-size: 20px;
    font-family: "SF-Pro-Display-Light" !important;
    padding: 12px 17px;
    margin: 20px 0;
    color: white;
    text-transform: uppercase;
    background: #39a6a3;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    text-decoration: none;
    border: 1px solid #12223a;

}

.je-donne a:hover
{
    background: #247270;

}